In [13]:
import pandas as pd

from data.fetch_data import fetch_theme_info, fetch_pdf_info, fetch_data_from_db

os_theme_info = pd.DataFrame(fetch_theme_info())

os_theme_info.head()

,etf_tkr,etf_name,theme_kr,ytd,pdf_cnt,top_stk_name,theme_class
0,AGNG,GLOBAL X Aging Population ETF,인구고령화,6.57,30,엘리릴리앤컴퍼니,삶의변화
1,AIQ,GLOBAL X Artificial Intelligence & Technology ETF,AI&빅테크,38.50,30,알파벳A,혁신기술
2,AQWA,GLOBAL X Clean Water ETF,청정수,12.34,30,자일럼,환경
3,BFIT,GLOBAL X Health & Wellness ETF,건강&복지,7.04,30,셀시우스홀딩스,삶의변화
4,BKCH,GLOBAL X Blockchain ETF,블록체인,140.78,30,코인베이스글로벌A,혁신기술

In [25]:
import numpy as np
import math

for i, row in os_theme_info.iterrows():
    etf_tkr, etf_name, theme_kr, ytd, pdf_cnt, top_stk_name, theme_class = row
    
    if math.isnan(ytd):
        ytd="NULL"

    pdf_cnt = pd.DataFrame(fetch_pdf_info(etf_tkr=etf_tkr)).shape[0]
    
    sql = f"""
    INSERT INTO os_theme_info(
        etf_tkr, etf_name,
        theme_kr,
        ytd,
        pdf_cnt,
        top_stk_name,
        theme_class
        )
    VALUES("{etf_tkr}", "{etf_name}", "{theme_kr}", {ytd}, {pdf_cnt}, "{top_stk_name}", "{theme_class}")
    ON DUPLICATE KEY UPDATE 
        etf_tkr="{etf_tkr}",
        etf_name="{etf_name}", 
        theme_kr="{theme_kr}",
        ytd={ytd},
        pdf_cnt={pdf_cnt},
        top_stk_name="{top_stk_name}", 
        theme_class="{theme_class}"
    """
    try:
        fetch_data_from_db(query=sql)
    except:
        print(type(ytd), ytd)
        print(sql)
        break