In [1]:
from fetch_data import fetch_data_from_db

sql = """
    SELECT child_stk_tkr FROM os_pdf_info
"""

stk_tkr = fetch_data_from_db(query=sql)

- 우선 미국 주식만 가져옵니다.

In [2]:
import pandas as pd

stk_tkr_df = pd.DataFrame(stk_tkr)

stk_tkr_df = stk_tkr_df[~stk_tkr_df['child_stk_tkr'].str.contains(' ')]

- yfinance에 유동주식수(float shares)가 등재되지 않은 종목은 제외합니다.

In [3]:
import yfinance as yf

float_shares_dict = {
    "stk_tkr": [],
    "float_shares": []
}

error_stk_list = []

for i, row in stk_tkr_df.iterrows():    
    stk_tkr = row["child_stk_tkr"]
    
    try:
        float_shares = yf.Ticker(stk_tkr).info["floatShares"]

        float_shares_dict["stk_tkr"].append(stk_tkr)
        float_shares_dict["float_shares"].append(float_shares)
        
    except:
        print(stk_tkr)
        
        error_stk_list.append(stk_tkr)

ADT
BABA
BB
BCAN
CYBR
FTRE
HYZN
MTTR
PLL
PRCH
RNG
SMCI
TDC

In [7]:
os_stk_info_df = pd.DataFrame(float_shares_dict)
os_stk_info_df.head()

  stk_tkr  float_shares
0       A     294401078
1      AA     177057698
2    AAON      44908066
3    AAPL   15617347029
4    ABBV    1762275557

- CSV 저장

In [8]:
os_stk_info_df.to_csv("./data_before_db_insert/os_stk_info.csv")